.where_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.where_child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 300px;
  margin-bottom: 100px;
}
.where_header {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  background: linear-gradient(93.25deg, #4486dc 9.29%, #4fe0b5 75.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative;
  margin-bottom: 20px;
  transform: scale(0);
}
.where_header_animation {
  animation: where_header_ani 0.5s ease-in;
  transform: scale(1);
  right: 0px;
}
@keyframes where_header_ani {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.where_text {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 137%;
  position: relative;
  bottom: -200px;
  color: #ffffff;
  opacity: 0;
}
.where_instructions_animation {
  animation: where_instructions_ani 0.5s ease-in;
  bottom: 0;
  opacity: 1;
}
@keyframes where_instructions_ani {
  from {
    bottom: -200px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@media (max-width: 1650px) {
  .where_header {
    font-size: 55px;
  }
}
@media (max-width: 1080px) {
  .where_child {
    margin-top: 200px;
    margin-bottom: 100px;
  }
  .where_text {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .where_header {
    font-size: 37px;
  }
  .where_child {
    margin-bottom: 50px;
  }
  .where_text {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .where_header {
    font-size: 25px;
  }
  .where_text {
    font-size: 12px;
  }
}
