.what_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 150px;
}
.what_header {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  max-width: 400px;
  background: linear-gradient(93.25deg, #4486dc 9.29%, #4fe0b5 75.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative;
  left: 50px;
}
.what_text {
  width: 864px;

  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 137%;

  color: #ffffff;
}

@media (max-width: 1650px) {
  .what_container {
    margin-top: 0px;
  }
  .what_header {
    font-size: 55px;
    max-width: 400px;
    left: 50px;
  }
  .what_text {
    font-size: 20px;
    max-width: 70%;
  }
}
@media (max-width: 1400px) {
  .what_text {
    font-size: 20px;
    max-width: 70%;
    margin-right: 30px;
  }
}
@media (max-width: 1080px) {
  .what_container {
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .what_header {
    font-size: 55px;
    max-width: 100%;
    left: 0px;
    margin-bottom: 30px;
  }
  .what_text {
    font-size: 20px;
    max-width: 70%;
  }
}
@media (max-width: 650px) {
  .what_container {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .what_header {
    font-size: 37px;
    max-width: 100%;
    left: 0px;
    margin-bottom: 30px;
  }
  .what_text {
    font-size: 16px;
    max-width: 70%;
  }
}
@media (max-width: 400px) {
  .what_container {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .what_header {
    font-size: 25px;
    max-width: 100%;
    left: 0px;
    margin-bottom: 30px;
  }
  .what_text {
    font-size: 12px;
    max-width: 70%;
  }
}
